@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  position: absolute;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 50px;
  right: 43%; /* Adjust as needed to align with the button */
  border-width: 12px;
  border-style: solid;
  border-color: hsl(217 19% 35%) transparent transparent transparent;
  z-index: 100;
}

/* Animations */
.fade-in-bounce {
  animation: fadeInBounce 0.5s forwards;
}

.fade-out-bounce {
  animation: fadeOutBounce 0.5s forwards;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutBounce {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}
